# Access History By Course, Modality

## Load Package

In [1]:
import pandas as pd
from pandas.plotting import table
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy.engine import create_engine

%load_ext sql

## Functions

In [2]:
def connect_db(dbUrl):
    engine = create_engine(dbUrl) 
    return engine

In [3]:
def execute_sql(sql,engine):
    df = pd.read_sql(sql, engine)
    return df

In [4]:
def group_by_col(df,col):
    group = df.groupby(df[str(col)])
    group_by = pd.DataFrame(group.size().reset_index(name = "Count"))
    return group_by

In [5]:
def domainsplit(email):
    try:
        return email.split('@')[1]
    except:
        return 'InValid Domain'

In [6]:
def print_cols_type(df):
    # Print Column Type
    for col in df:
        print (str(col),'->',type(df[col][1]))

In [7]:
from datetime import datetime
from dateutil import relativedelta

#This will find the difference between the two dates
def difference_btw_dates(date_2,date_1):
    difference = relativedelta.relativedelta(date_2, date_1)
    years = difference.years
    months = difference.months
    days = difference.days
    return ("%s year, %s months, %s days " %(years, months, days))

In [8]:
def expand_date(df,col):
    access_date = df.iloc[:,col]
    date_expanded = pd.DataFrame({"Year": access_date.dt.year,
                  "Quarter": access_date.dt.quarter,
                  "Month": access_date.dt.month,
                  "Week": access_date.dt.week,
                  "Day": access_date.dt.day,
                  "Hour": access_date.dt.hour,
                  "WeekOfYear": access_date.dt.weekofyear,
                  "DayOfYear": access_date.dt.dayofyear,
                  "DayOfWeek": access_date.dt.dayofweek,
                  "WeekDay": access_date.dt.weekday,
                 })
    df = pd.concat([df, date_expanded], axis=1)
    return df

## Access History By Course

### Connect To DB

In [9]:
engine = connect_db('mysql+mysqldb://root:secret@10.126.100.201/est?charset=utf8')

### Get Course Access Details

In [10]:
sql = 'SELECT DISTINCT isActive As State, count(*) AS Count FROM ep_user GROUP BY isActive' 
est_users = execute_sql(sql,engine)
est_users.State.replace([np.nan,0, 1], ['UnDefined','InActive', 'Active'], inplace=True)
est_undefined_users = est_users['Count'][0]
est_inactive_users = est_users['Count'][1]
est_active_users = est_users['Count'][2]

sql = 'SELECT \
            email As EMail, \
            courseName As CourseName, \
            lmTitle As LearningModule, \
            type As Modality, \
            accessdate As AccessDate \
        FROM ep_vw_est_access_history'
est_course_access = execute_sql(sql,engine)

sql = 'SELECT min(activity.accessdate) As launch_date, max(activity.accessdate) As last_access_date \
        FROM ep_user_activity AS activity'
uptime = execute_sql(sql,engine)

last_access_date = datetime.strptime(str(uptime.last_access_date[0]),'%Y-%m-%d %H:%M:%S')
launch_date = datetime.strptime(str(uptime.launch_date[0]),'%Y-%m-%d %H:%M:%S')

In [11]:
total_trainings_consumed = est_course_access.shape[0]
est_course_access_grouped = group_by_col(est_course_access,'CourseName')
courses_offered = est_course_access_grouped.shape[0]

est_lm_access_grouped = group_by_col(est_course_access,'LearningModule')
lm_offered = est_lm_access_grouped.shape[0]

est_modalitity_grouped = group_by_col(est_course_access,'Modality')
modalities = est_modalitity_grouped.shape[0]

In [12]:
uptime = difference_btw_dates(last_access_date,launch_date)
print('                Uptime ->',uptime)
print('\n+++++++++++++++++++++++ User Insights +++++++++++++++++++++++++++')
print('          Active Users ->',str(est_active_users ))
print('        InActive Users ->',str(est_inactive_users ))
print('       UnDefined Users ->',str(est_undefined_users ))
print('           Total Users ->',str(est_active_users + est_inactive_users + est_undefined_users))
print('\n+++++++++++++++++++++++ Training/Modalities Insights +++++++++++++++')
print('        Courses Offered ->',str(courses_offered ))
print('       Learning Modules ->',str(lm_offered ))
print('             Modalities ->',str(modalities ))
print('Total Trainings Consumed->',str(total_trainings_consumed))
print('\n+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')

                Uptime -> 6 year, 0 months, 9 days

+++++++++++++++++++++++ User Insights +++++++++++++++++++++++++++
          Active Users -> 18743
        InActive Users -> 5983
       UnDefined Users -> 2
           Total Users -> 24728

+++++++++++++++++++++++ Training/Modalities Insights +++++++++++++++
        Courses Offered -> 397
       Learning Modules -> 3794
             Modalities -> 18
Total Trainings Consumed-> 935171

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [13]:
est_course_access_user_grouped = group_by_col(est_course_access,'EMail')
est_course_access_user_grouped_sorted = est_course_access_user_grouped.sort_values(['Count'],ascending=False)
est_course_access_user_grouped_sorted[est_course_access_user_grouped_sorted.Count > 5000]

                         EMail  Count
4776            jliu@cisco.com  13360
5725          leshsu@cisco.com   7433
6766      msmith@telsource.com   7378
8852        spalmisa@cisco.com   7035
5819        lpamintu@cisco.com   6985
7338          peking@cisco.com   6120
3668          gfwang@cisco.com   5503
2411    damir.hulak@hr.ibm.com   5473
7339  pellington@telsource.com   5203

In [14]:
est_course_access_date_grouped = group_by_col(est_course_access,'AccessDate')
est_course_access_date_grouped_sorted = est_course_access_date_grouped.sort_values(['AccessDate'],ascending=False)

In [15]:
est_course_access_date_grouped_sorted = est_course_access_date_grouped_sorted[est_course_access_date_grouped_sorted.AccessDate > '01-01-2018']
est_course_access_date_grouped_sorted.groupby([est_course_access_date_grouped_sorted['AccessDate'].dt.year.rename('year'), est_course_access_date_grouped_sorted['AccessDate'].dt.month.rename('month')]).agg({'count'})

           AccessDate  Count
                count  count
year month
2018 1           7891   7891
     2          15143  15143
     3           9006   9006
     4           7947   7947
     5           6125   6125
     6          10716  10716
     7           5000   5000
     8           4599   4599

In [40]:
est_course_access_by_yr_month = est_course_access.groupby([est_course_access['AccessDate'].dt.year.rename('year'), est_course_access['AccessDate'].dt.month.rename('month')]).agg({'count'})
est_course_access_by_yr_month.head()

           EMail CourseName LearningModule Modality AccessDate
           count      count          count    count      count
year month
2012 8       726        726            148      726        726
     9       518        518             81      518        518
     10     1055       1055            107     1055       1055
     11     4887       4887           1324     4887       4887
     12     5792       5792           2266     5792       5792

In [42]:
list(est_course_access_by_yr_month)

[('EMail', 'count'),
 ('CourseName', 'count'),
 ('LearningModule', 'count'),
 ('Modality', 'count'),
 ('AccessDate', 'count')]

In [43]:
est_course_access_by_yr_month.drop(['EMail', 'LearningModule','Modality','AccessDate'], axis=1, inplace=True)

In [55]:
est_course_access_by_yr_month.to_csv('training_consumption.csv', sep=',', encoding='utf-8')

In [45]:
import plotly
plotly.tools.set_credentials_file(username='rajasoun', api_key='dT8l2RwVXZsD5S28xhps')

In [46]:
import plotly.plotly as py
import plotly.graph_objs as go

In [51]:
#data = [go.Scatter( x=est_course_access_by_yr_month['year'], y=est_course_access_by_yr_month['CourseName'] )]
#py.iplot(data, filename='pandas-time-series')

In [59]:
df = pd.read_csv('training_consumption.csv')
df.head()

   month_number  count
0             1    726
1             2    518
2             3   1055
3             4   4887
4             5   5792

In [60]:
data = [go.Scatter( x=df['month_number'], y=df['count'] )]
py.iplot(data, filename='Traning Consumption')

In [61]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [62]:
[m,n]=df.shape
X=np.array(df.iloc[:,0:n-1])
y=np.array(df.iloc[:,n-1:n])

# Model Intialization
reg = LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)

# Data Fitting
reg = reg.fit(X, y)

In [63]:
# Y Prediction
y_predict = reg.predict(X)

# Model Evaluation
rmse = np.sqrt(mean_squared_error(y, y_predict))
r2 = reg.score(X, y)

print('Coefficients: Theta \n', reg.coef_)
print('Intercept: Theta0 or Bias Vaue \n', reg.intercept_)

# Differences between predicted value and observed value is RMSE
print('Root Mean Squared Error - RMSE $%6.2f  ' % rmse)
# Explained variance score: 
# 1 is perfect prediction  and 
# 0 means that there is no linear relationship between X and y.
print('Variance Score - Coefficient of Determination - R Sqaured %6.2f' %r2)

Coefficients: Theta
 [[-4.01767864]]
Intercept: Theta0 or Bias Vaue
 [12959.21575342]
Root Mean Squared Error - RMSE $8513.96
Variance Score - Coefficient of Determination - R Sqaured   0.00

In [66]:
# Estimate the price of a 1650 sq-ft, 3 br house
predict = reg.predict(np.array([[74]]))
print('74th Month Training Consumption %6.2f' % predict)

74th Month Training Consumption 12661.91